@model IEnumerable<EnsinE.CRM.Models.Produto>

@{
    ViewData["Title"] = "Listagem de Produtos";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Comissao)
            </th>
            <th>
                Listar Clientes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rowClass = item.Situacao ? "table-success" : "";
            <tr class="@rowClass">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.Comissao)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Clientes" asp-action="PorProduto" asp-route-produtoId="@item.ProdutoId">Clientes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
